@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html
{
    background-color: lightblue;
}

body
{
    font-family: "Open Sans", sans-serif;
}

div
{
    text-align: center;
    margin: auto;
}

p, button, img, svg
{
    margin-left: auto;
    margin-right: auto;
}

p
{
    font-size: 32px;
    /*-webkit-text-stroke: 1px darkblue;*/
    color: midnightblue;
}

#clock
{
    font-size: 64px;
    font-weight: bold;
    vertical-align: middle;
}

button
{
    background-color: steelblue;
    font-family: "Open Sans", sans-serif;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24px;
    padding: 16px;
    border-radius: 16px;
    width: 80%;
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 5%;
}

svg
{
    display: block;
    border: 2px darkblue;
    
}
